[submodule "Mama/dependencies/spdlog"]
	path = Mama/dependencies/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Mama/dependencies/imgui"]
	path = Mama/dependencies/imgui
	url = https://github.com/TheCherno/imgui.git
[submodule "Mama/dependencies/glm"]
	path = Mama/dependencies/glm
	url = https://github.com/g-truc/glm.git
